
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>&#9829</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="main.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <h1>FizzBuzz</h1>
    <p class="lead">enter a number</p>

    <form>
        <input type="text" name="inputNumber">
        <button id = "btnExecute" ng-click="btnGo()">Go!</button>
    </form>

    <!--
    <form>
        <input type ="number" name="testNum">
        <input type="submit">
    </form>
    -->

</div><!-- /.container -->

<div id="fizzy" ng-repeat="number in numbers">{{ number }}</div>

<div class="container">
    <br>
    <div id="fizzBuzz"></div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
